div {
    width: 590px;
    background-color: black;
    color: white;
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
}

h1 {
    margin: 10px;
    font-family: "Audiowide", sans-serif;
}

body {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
}

#mensaje {
    font-weight: bold;
    cursor: pointer;
}

#puntuacion,
#tiempo {
    font-weight: bold;
    color: #0F0;
}

.parametrosJuego {
    margin-top: 20px;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid white;
}

.parametrosJuego p {
    margin: 5px 0;
}